*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Arial, sans-serif';
}
body{
    min-height:  100vh;
    width: 100%;
    display: flex;
    background-image: url("background.png") ;
    background-position:center ;
    background-position: center;
    position: relative;
    margin:0;
    padding: 40px;

}
body::after{
    content:" " ;
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    
}
section{
    position: relative;
    z-index: 3;
    padding-top:50px ;
    padding-bottom: 50px;
}
.container{
    max-width: 1080px;
    margin-left:auto;
    margin-right: auto;
    margin-left:20px;
    margin-right:20px;

}
.section-header{
    margin-bottom: 50px;
    text-align:center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.contact-info, 
.contact-form,
.faq {
    flex: 1;
}

.contact-form {
    max-width: 350px;
}
.contact-form{
    position: relative;
    backdrop-filter: blur(25px);
    width: 350px;
    border: 2px solid var(--primary-color);
    padding: 80px 30px 40px 30px;
    border-radius: 15px;
    box-shadow:  0px 0px 10px 2px  rgba(0,0,0, 0.2);
    color: var(--second-color);
    background: rgba(255,255,255,0.1)
}

