body {
  background-color: #ec9595;
  font-family: 'Georgia', serif;
  color: #333;
  background-image: url("background.png") ;
}


.btn-checkout {
  background: linear-gradient(90deg, #f03c69 0%);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 16px 50px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 10px 25px rgba(207, 82, 130, 0.4);
  
}

.btn-checkout:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(212,163,115,0.5);
}
.order-summary {
  background-color: #f8f5f3;
  border-radius: 20px;
  padding: 40px 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.order-summary h4 {
  text-align: center;
  font-size: 28px;
  color: #5d4037;
  margin: 25px 0 35px;
  font-weight: normal;
}
.item-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #e8ddd5;
  font-size: 17px;
}
.item-row:last-of-type { border-bottom: none; }
.price { font-weight: 600; color: #333; }
.total-price {
  font-size: 26px;
  font-weight: bold;
  color: #5d4037;
}
.order-summary img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.place-order-btn {
  background: linear-gradient(90deg,  #f03c69 0% );
  color: white;
  border: none;
  border-radius: 50px;
  padding: 16px 50px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-top: 35px;
  box-shadow: 0 10px 25px rgba(212,163,115,0.4);
  transition: all 0.3s;
}
.place-order-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(212,163,115,0.5);
}
.item-row.pt-3 {
  border-top: 2px solid #d4a373;
  margin-top: 20px;
  padding-top: 25px;
}
h1 {
  font-size: 48px;
  font-weight: 500;
  color: #5d4037;
  margin-bottom: 40px;
}