* { margin: 0; 
    padding: 0; 
    box-sizing: border-box;
 }
 body { font-family: Georgia, serif;
        background: #eba7a7;
        color: #000000; 
        line-height: 1.7; 
            }

        .selection-header {
            text-align: center;
            padding: 80px 20px 40px;
        }
        .selection-header h2 {
            font-size: 50px;
            font-weight: normal;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }

        .container {
            max-width: 1350px;
            margin: 0 auto;
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            align-items: flex-start;
        }

        .about-info {
            flex: 1;
            max-width: 800px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 70px 60px;
            margin-top: 40px;
        }

        .about-info-content h4 {
            font-size: 28px;
            font-weight: normal;
            margin-bottom: 20px;
            position: relative;
            padding-bottom: 12px;
        }
        .about-info-content h4::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 2px;
            background: #000000;
        }

        .about-info-content p {
            font-size: 16px;
            color: #000000;
            text-align: justify;
            margin: 0;
        }

        .about-info-content ul {
            list-style: none;
            margin-top: 22px;
            margin: 0;
        }
        .about-info-content ul li {
            font-size: 16.5px;
            color: #000000;
            padding-left: 30px;
            position: relative;
            margin-bottom: 14px;
        }
        .about-info-content ul li::before {
            content: '';
            color: #000000;
            font-weight: bold;
            position: absolute;
            left: 0;
            font-size: 22px;
        }

        .team-section {
            margin-top: 120x;
            min-width: 300px;
           
        }
        .team-section h3 {
            font-size: 32px;
            text-align: center;
            margin-bottom: 60px;
            font-weight: normal;
            white-space: nowrap;
        }
        .team-member {
            text-align: center;
            margin-bottom: 50px;
        }
        .team-member img {
            width: 160px;
            height: 160px;
            object-fit: cover;
            margin-bottom: 18px;
        }
        .team-member p {
            font-size: 17px;
            color: #000000;
        }
        .team-member p::first-line {
            font-weight: bold;
            color: #000000;
            font-size: 18px;
        }
