*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Arial, sans-serif';
}
body{
    min-height:  100vh;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-image: url("background.png") ;
    background-position:center ;
    background-position: center;
    position: relative;

}
body::after{
    content:" " ;
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    
}
section{
    position: relative;

}